.bg-hero {
    background-image: url('https://images.thequint.com/thequint%2F2023-03%2F4ca6be70-f4fd-48cf-a67c-2eaacddfd756%2F5_Planets_in_Sky_on_28_March_2023.jpg');
    background-size: cover;
    background-position: center;
}